server {
    listen 80;
    server_name {{ forgejo_domain }};

    location ~ ^/\.well-known/acme-challenge/(.+)$ {
        alias /var/www/certbot/.well-known/acme-challenge/$1;
        default_type text/plain;
    }

    location / {
{% if forgejo_effective_allowed_client_cidrs is defined and forgejo_effective_allowed_client_cidrs | length > 0 %}
{% for cidr in forgejo_effective_allowed_client_cidrs %}
        allow {{ cidr }};
{% endfor %}
        deny all;
{% endif %}
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    server_name {{ forgejo_domain }};

    ssl_certificate /etc/letsencrypt/live/{{ forgejo_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ forgejo_domain }}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384;
    ssl_prefer_server_ciphers off;
    ssl_session_cache shared:SSL:10m;

    client_max_body_size 256M;

    location / {
{% if forgejo_effective_allowed_client_cidrs is defined and forgejo_effective_allowed_client_cidrs | length > 0 %}
{% for cidr in forgejo_effective_allowed_client_cidrs %}
        allow {{ cidr }};
{% endfor %}
        deny all;
{% endif %}
        proxy_pass http://127.0.0.1:{{ forgejo_http_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /api/v1/swagger {
{% if forgejo_effective_allowed_client_cidrs is defined and forgejo_effective_allowed_client_cidrs | length > 0 %}
{% for cidr in forgejo_effective_allowed_client_cidrs %}
        allow {{ cidr }};
{% endfor %}
        deny all;
{% endif %}
        proxy_pass http://127.0.0.1:{{ forgejo_http_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
