# Environment files
.env

# macOS
.DS_Store

# Ansible vault passwords
.vault*

# Ansible logs
ansible.log

# KeePass database
keepass/*.kdbx
kpxc/

# SSH private keys (keep *.pub only)
keys/*
!keys/ssh/*.pub

# Terraform
tf/.terraform/
tf/terraform.tfstate
tf/terraform.tfstate.*.backup
tf/terraform.tfstate.backup
tf/.terraform.lock.hcl
tf/spaceship.auto.tfvars.json
tf/gcp.auto.tfvars.json

# Build artifacts
dist/
