services:
  ollama:
    image: "{{ ollama_image }}"
    container_name: ollama
    restart: always
    networks:
      - ai_network
    ports:
      - "{{ ollama_port }}:11434"
    environment:
      OLLAMA_KEEP_ALIVE: "{{ vram_keep_alive }}"
      OLLAMA_MAX_LOADED_MODELS: "{{ max_vram_models }}"
      OLLAMA_NUM_PARALLEL: "{{ parallel_requests }}"
      OLLAMA_NUM_GPU: "{{ ollama_num_gpu }}"
      OLLAMA_KV_CACHE_TYPE: "q8_0"
    mem_limit: 28g
    memswap_limit: 32g
    devices:
      - /dev/nvidia0
    volumes:
      - {{ ollama_data_path }}:/root/.ollama

networks:
  ai_network:
    external: true
