{
  "domain": {{ domain | to_json }},
  "gcp_org_id": {{ gcp_org_id | to_json }},
  "gcp_proj_id": {{ gcp_proj_id | to_json }},
  "gcp_region": {{ gcp_region | to_json }},
  "gcp_zone": {{ gcp_zone | to_json }}
}
